
/* Navigation Bar */

.spacing{
    padding:1% 10% 0;
    background-color: #E4FBFF;
    height: 90vh;
   
  }
  .big-heading {
      font-family: 'Montserrat, sans-serif';
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 900;
      margin-bottom: 2%;
      text-align: center;
  }
  .navbar-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E)
  }
  .navbar {
      padding: 0 0 8rem;
  }
  
  .navbar-brand {
  
      font-family: "Ubuntu";
      font-size: 2.2rem;
      font-weight: bold;
  
  }
  
  .navbar-item {
      padding: 0px 18px;
  }
  a:hover{
      font-weight: bold;
  }
  .text{
      font-size: 1.5rem;
      font-family: "Montserrat-Light";
  }
  
  .nav-link {
      font-size: 1.5rem;
      font-family: "Montserrat-Light";
  }
  
  /* visualization button */
  .bt{
     padding-bottom: 30px;
     text-align: center;
     padding-top: 30px;
  }
  
  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration: none;
      color: white;
  }
  
  /* footer */
  .ic {
      padding: 0% 1% 1%;
  }
  #footer {
      padding: 1% 15% 2.5%;
      text-align: center;
      height: 8vh;
      font-size: 20px;
  
  }
  .btn{
      padding-left: 4rem;
      padding-right: 4rem;
  }



/* #Introduction */
